body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
    background-color: Rgba(1,2,100,0.1);
    font-family: cursive;
    
}
header {
    background-image: url("photos/rila2.jpg");
    height: 50vw;
    background-position: center;
    position: static;
    background-repeat: repeat;
    background-size: cover
}


.opazvane {
    position: fixed;
    padding-top: 90px;
    padding-left: 450px;
    font-size: 2.5VW;
}
    

tr {
    color:white;
    text-align: center;
    font-size: 20px;
    }

.logo {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 30px;
    
    }

.nav1 {
    position: fixed;
    width: 100%;
    background-color: #6baac4;
    } 

.bd1 {
    background-color: lightblue;
    
    
    }

.img {
    width: 4vw;
     height: 6vh;
     float: right;
     margin: 10px 10px 10px 10px;
     padding-top: 15px;
     padding-bottom: 10px;
     padding-left: 10px;
     
     
}

table {
    
    width: 800px;
    height: 100px;
    margin-left: 400px;
    }
    
.adres {
    
    padding-top: 10px;
    font-size: 25px;
    margin-left: 40px;
    
}

iframe {
    width:50%;
    height:450px;
    border:0; 
    position:center ;
    float: right;
    padding: 40px;
    clear: both;
}

a {
    text-decoration: none;
    color: white;
}

td:hover {
    background-color: rgb(141, 197, 211);
}

@media only screen and (max-width: 1465px) {
    nav {height: 12%;}

    tr {
       font-size: 15px
       
    }
        
    table {
        
        margin-left: 9vw;
        width: 70%;
         }
    
    .img {
        width: 3vw
    }
    
    .logo {
        height:8vh;
        width: 5vh;
        padding-top: 10px;
        margin-left: 10px 
    }
      
    .opazvane {
        padding-left: 30%;
        font-size: 2vw
    }
    
    section {
        font-size: 1vw;
        margin-top: 250px
            
    }
    
    .adres {
        font-size: 15px;
    }

    iframe {
        height: 50vh;
    }
}

@media only screen and (max-width:800px) {
    nav {height: 9%;}

    tr {
       font-size: 10px
       
    }
        
    table {
        margin-left: 15vw;
        width: 60%;
        height: 70px;
         }
    
    .img {
        width: 2vw;
        height: 3vh;
    }
    
    .logo {
        height:5vh;
        width: 4vh;
        
    }
      
    .opazvane {
        
        font-size: 1.5vw
    }
    
    .adres {
        font-size: 10px;
    }

    section {
        font-size: 1vw;
        margin-top: 200px
            
    }

    iframe {
        height: 30vh;
    }
}